PORT=4000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/securegate?retryWrites=true&w=majority
JWT_SECRET=f80b91626411c3a5d7a19d6a46a2039e
JWT_EXPIRES_IN=7d
RESEND_API_KEY=re_XXXXXXXXXXXXXXXXXXXXXXXX
FRONTEND_URL=http://localhost:8081
